/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';

.pointer{
    cursor: pointer;
}

.w150{
    width: 150px;
}

.img-50{
    width: 50px;
}

.bg-principal{
    background: #35dec5;
    color: white;
}

.icono-menu{
    width: 15%;
    margin-right: 5px;
}

.logo-imagen{
        max-width: 70px;
}

.alert-warning{
    background: rgba(28,197,231,1);
background: -moz-linear-gradient(left, rgba(28,197,231,1) 0%, rgba(28,232,184,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28,197,231,1)), color-stop(100%, rgba(28,232,184,1)));
background: -webkit-linear-gradient(left, rgba(28,197,231,1) 0%, rgba(28,232,184,1) 100%);
background: -o-linear-gradient(left, rgba(28,197,231,1) 0%, rgba(28,232,184,1) 100%);
background: -ms-linear-gradient(left, rgba(28,197,231,1) 0%, rgba(28,232,184,1) 100%);
background: linear-gradient(to right, rgba(28,197,231,1) 0%, rgba(28,232,184,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cc5e7', endColorstr='#1ce8b8', GradientType=1 );
color: white;
border-color: transparent;
}